// Variables

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #ffffff;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

// Mixins

@mixin transition-color {
  -o-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

@mixin transition-opacity {
  -o-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@mixin transition-all {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Fonts

@font-face {
  font-family: 'Arial';
  src: local(Arial), url('../../assets/fonts/arial-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Arial Italic';
  src: local('Arial Italic'), url('../../assets/fonts/arial-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: local(Georgia), url('../../assets/fonts/georgia-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia Bold';
  src: local('Georgia Bold'), url('../../assets/fonts/georgia-bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Georgia Italic';
  src: local('Georgia Italic'), url('../../assets/fonts/georgia-italic.ttf') format('truetype');
  font-style: italic;
}

// Media

$tablet-width: 768px;
$desktop-width: 1280px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*
 * Reset
 */

* {margin:0;outline:none;padding:0;}
code,kbd,samp,pre,tt,var,textarea,input,select,isindex {font:inherit;font-size:100%}
dfn,i,cite,var,address,em {font-style:normal}
th,b,strong,h1,h2,h3,h4,h5,h6 {font-weight:bold}
a,img,a img,iframe,form,fieldset,abbr,acronym,object,applet {border:none}
table {border-collapse:collapse;border-spacing:0}
caption,center {vertical-align:top}
th,td {vertical-align:middle}
q {quotes:"" ""}
ul,ol,dir,menu {list-style:none}
sub,sup {vertical-align:baseline}
a {color:inherit}
hr {display:none}

/* HTML5 reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}


/*
 * General
 */

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Arial', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
  background: #fff;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-variant-ligatures: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth; 
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

*+ html .clearfix {
  display: inline-block;
}

* html .clearfix {
  display: inline-block;
  height: 1%;
}


/*
 * Typography & elements
 */

 a {
   @include transition-color;
   text-decoration: underline;
 }

 a:hover {
   text-decoration: none;
 }

h1, .h1 {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-primary;
}

h2 {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;

  @include mobile {
    font-size: 25px;
    line-height: 129%;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  @include mobile {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h4 {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

h5 {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}

p {
  margin: 0 0 25px 0;

  @include mobile {
    margin-bottom: 22px;
  }
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: square;
}

.button {
  @include transition-all;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: 0 none;
  margin: 0;
  padding: 15px 45px;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $color-dark-3xl;
  text-align: center;
  background-color: $color-primary;
  border-radius: 100px;
  box-sizing: border-box;

  &:hover {
    background-color: $color-primary-light;
  }

  &.button_secondary {
    padding: 13px 43px;
    background-color: transparent;
    border: 2px solid $color-primary;

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}


/*
 * Main frame
 */

 #wrapper {
   width: 100%;
   position: relative;
   overflow: hidden;
 }

 .section {
   width: 100%;
   min-width: 100%;

   @include tablet {
     min-width: 100%;
   }
 }

.inner-wrapper {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  @include border-box;

  @include tablet {
    width: 100%;
    min-width: 100%;
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 10px;
  }
}

.section__content {
  padding: 80px 0 89px;

  @include tablet {
    padding-bottom: 93px;
  }

  @include mobile {
    padding: {
      top: 41px;
      bottom: 35px;
    }
  }

  &.section__content_2col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include tablet {
      flex-direction: column;
    }

    .section__col {
      width: 50%;
      @include border-box;

      @include tablet {
        width: 100%;
      }

      &.section__col_54 {
        width: 54%;

        @include tablet {
          width: 100%;
        }
      }

      &.section__col_46 {
        width: 46%;

        @include tablet {
          width: 100%;
        }
      }
    }
  }
}


/*
 * Header
 */

.header {
  padding-top: 60px;

  @include tablet {
    padding-top: 30px;
  }

  .header__holder {
    display: flex;
    justify-content: space-between;

    .header__logo {
      display: block;
      text-align: center;
      text-decoration: none;

      @include mobile {
        text-align: left;
      }

      h1 {
        margin: 1px 0 9px 0;
      }

      p {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $color-light-xl;
        margin: 0 0 0 3px;
      }
    }

    .header__nav {
      font-size: 15px;
      line-height: 160%;

      .header__button {
        display: none;

        @include mobile {
          display: block;
          width: 30px;
          height: 22px;
          outline: none;
          background: none;
          border: 0 none;
          cursor: pointer;
          position: relative;
          margin: 17px 43px 0px 0;
          z-index: 11;
          @include transition-all;

          .nav-active & {
            transform: rotate(-90deg);
            margin: {
              top: 19px;
              right: 46px;
            }
          }

          i {
            display: block;
            width: 30px;
            height: 2px;
            background: $color-primary;
            position: absolute;
            top: 2px;
            left: 0;

            &:before, &:after {
              content: '';
              width: 100%;
              height: 2px;
              background: $color-primary;
              position: absolute;
              left: 0;
            }

            &:before {
              top: 10px;
            }

            &:after {
              top: 20px;
            }
          }
        }
      }

      #headerMenu {
        .header__logo {
          display: none;
          position: absolute;
          top: 31px;
          left: 10px;

          .h1 {
            margin-bottom: 9px;
          }
        }

        li {
          display: inline-block;
          margin: 16px 0 20px 32px;

          @include mobile {
            display: block;
          }

          .header__link {
            display: inline-block;
            text-decoration: none;
            color: $color-dark-s;

            &:hover {
              color: $color-light-s;
            }

            &.active {
              color: $color-light-s;
              border-bottom: 3px solid $color-primary;
            }
          }
        }

        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 320px;
          //height: 823px;
          height: 100vh;
          padding: 100px 0 58px 0;
          box-sizing: border-box;
          background: $color-dark-3xl;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          right: -320px;
          top: 0;
          @include transition-all;
          z-index: 10;

          .nav-active & {
            visibility: visible;
            opacity: 1;
            right: 0;

            .header__logo {
              display: block;
            }
          }

          ul {
            max-height: 100%;
            overflow-y: auto;
            padding-left: 0;
            text-align: center;

            li {
              margin: 0 0 40px 0;

              .header__link {
                font-size: 32px;
                line-height: 160%;
                color: $color-dark-s;
              }
            }
          }
        }
      }
    }
  }
}


/*
 * Overlay
 */

body.nav-active,
body.modal-active  {
  overflow: hidden;
}

#overlay {
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  @include transition-opacity;

  .nav-active &,
  .modal-active & {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
}

#modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  .modal-active & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  .modal__close-button {
    width: 52px;
    height: 52px;
    padding: 0;
    position: absolute;
    top: -52px;
    right: -42px;
    background: {
      image: url('../../assets/icons/modal-close.svg');
      repeat: no-repeat;
      position: center center;
      size: 12px 12px;
    }

    @include mobile {
      right: -30px;
    }

    &:hover {
      background-color: $color-primary-light !important;
      border-color: $color-primary-light !important;
    }
  }

  &:hover {
    cursor: url('../../assets/icons/modal-close.svg'), auto;

    .modal__close-button {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  .modal {
    width: 900px;
    max-width: 900px;
    max-height: 75%;
    background: $color-light-s;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    margin: 0 auto;
    position: relative;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    @include tablet {
      width: 82%;
    }

    @include mobile {
      width: 75%;
    }

    .modal-active & {
      visibility: visible;
      opacity: 1;
      z-index: 11;
    }

    &:hover .modal__close-button {
      background-color: transparent;
      border: 2px solid $color-primary;
    }

    .modal__body {
      max-height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-track {
        background: #fafafa;
      }

      &::-webkit-scrollbar-thumb {
        background: #545454;
        border: 5px solid #fafafa;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}


/*
 * Pets info
 */

.pets-info {
  display: flex;
  flex-direction: row;

  .pets-info__img {
    width: 55.55%;
    min-width: 55.55%;

    @include mobile {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      border-radius: 9px;
    }
  }

  .pets-info__txt {
    padding: 51px 20px 50px 29px;

    @include tablet {
      padding: 10px 8px 10px 11px;
    }

    @include mobile {
      padding: 11px 8px 3px 11px;
    }

    h3 {
      margin-bottom: 9px;
      color: #000;

      @include mobile {
        font-size: 35px;
        text-align: center;
        margin-bottom: 8px;
      }
    }

    h4 {
      margin-bottom: 40px;
      color: #000;

      @include tablet {
        margin-bottom: 22px;
      }

      @include mobile {
        text-align: center;
      }
    }

    h5 {
      margin-bottom: 41px;
      line-height: 113%;
      color: #000;

      @include tablet {
        font-size: 13px;
        line-height: 110%;
        margin-bottom: 18px;
      }

      @include mobile {
        line-height: 108%;
        text-align: justify;
        margin-bottom: 23px;
      }
    }

    ul {
      list-style-type: none;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #000;
      padding: 0;

      li {
        padding-left: 15px;
        margin-bottom: 12px;
        position: relative;

        @include tablet {
          margin-bottom: 6px;
        }

        @include mobile {
          margin-bottom: 7px;
        }

        &:before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: $color-primary;
          position: absolute;
          top: 7px;
          left: 0;
        }

        strong {
          font-family: 'Georgia Bold';
        }
      }
    }
  }
}


/*
 * Start screen section
 */

#start-screen {
  width: 100%;
  min-width: 100%;
  //height: calc(100vh - 19px);
  height: 908px;
  min-height: 908px;
  background: {
    image: url('../../assets/images/start-screen-gradient-background.jpg');
    repeat: no-repeat;
    position: 0 0;
    size: cover;
  }

  @include tablet {
    min-width: 100%;
    height: 1165px;
    min-height: 1165px;
  }

  @include mobile {
    height: auto;
    min-height: auto;
  }

  .inner-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .section__content {
      padding: 0;
      flex-grow: 1;
      display: flex;

      @include tablet {
        flex-direction: column;
      }

      .start-screen__txt {
        width: 41.9%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
          @include border-box;
          width: 100%;
          padding: 37px 124px 58px;
        }

        @include mobile {
          max-width: 500px;
          margin: 0 auto;
          padding: {
            left: 0;
            right: 0;
            top: 40px;
          }
          text-align: center;
        }

        h2 {
          padding-right: 30%;
          margin: 20px 0 41px;

          @include tablet {
            max-width: 350px;
            padding-right: 0;
          }

          @include mobile {
            max-width: 250px;
            padding-right: 0;
            margin: {
              left: auto;
              right: auto;
            }
          }
        }

        p {
          color: $color-dark-s;
          margin-bottom: 42px;
          padding-right: 30px;

          @include tablet {
            padding-right: 0;

            &.start-screen__button {
              text-align: center;

              @include mobile {
                margin-bottom: 48px;
              }
            }
          }
        }
      }

      .start-screen__img {
        width: 58.1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include tablet {
          width: 100%;
          flex-grow: 1;
          flex-direction: row;

          img {
            display: inline-block;
            max-width: 569px;
          }
        }

        @include mobile {
          display: block;

          img {
            display: block;
            max-width: 260px;
            float: right;
          }
        }
      }
    }
  }
}


/*
 * About shelter section
 */

#about-shelter {
  .section__content {
    justify-content: center;

    @include tablet {
      padding-top: 66px;
    }

    @include mobile {
      padding-top: 27px;
    }

    .about-shelter__img {
      text-align: center;

      @include tablet {
        order: 1;
        margin-top: 55px;
      }

      @include mobile {
        margin-top: 20px;
      }

      img {
        display: inline-block;
        margin-left: 50px;

        @include tablet {
          margin-left: 0;
        }

        @include mobile {
          width: 260px;
          margin: 0 auto;
        }
      }
    }

    .about-shelter__txt {
      padding-right: 15%;

      @include tablet {
        order: 0;
        padding: 0 20.25%;
      }

      @include mobile {
        padding: 0 5%;
        text-align: center;
      }

      h3 {
        margin: 15px 20px 24px -5px;

        @include tablet {
          max-width: 410px;
        }

        @include mobile {
          margin: {
            left: auto;
            right: auto;
          }
        }
      }

      p {
        margin-left: -5px;

        @include mobile {
          margin-left: 0;
          text-align: justify;
        }
      }
    }
  }
}


/*
 * Our friends section
 */

#our-friends {
  text-align: center;
  background: $color-light-l;

  .section__content {
    padding-bottom: 75px;

    @include tablet {
      padding-top: 80px;
    }

    @include mobile {
      padding: {
        top: 40px;
        bottom: 20px;
      }
    }

    h3 {
      margin: {
        top: 1px;
        bottom: 0;
      }
    }
  }
}

.carousel {
  width: 100%;
  padding: 57px 60px 60px;
  text-align: left;
  @include border-box;
  overflow: hidden;
  position: relative;

  @include tablet {
    max-width: 900px;
    padding: 57px 44px 60px;
    margin: {
      left: auto;
      right: auto;
    }
  }

  @include mobile {
    max-width: 350px;
    padding: 41px 0 11px;
    margin-bottom: 31px;
  }

  .carousel__holder {
    width: 100%;
    min-height: 436px;
    position: relative;
    overflow: hidden;

    @include tablet {
      width: 620px;
      margin: 0 auto;
    }

    @include mobile {
      width: 300px;
    }
  }

  .carousel__body,
  .carousel__slide {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

    .carousel__item {
      width: 33.3333%;

      @include tablet {
        width: 310px;
        min-width: 310px;

        &:nth-child(n+3) {
          display: none;
        }
      }

      @include mobile {
        width: 300px;
        min-width: 300px;

        &:nth-child(n+2) {
          display: none;
        }
      }
    }
  }

  .carousel__nav {
    .carousel__button {
      width: 52px;
      height: 52px;
      padding: 0;
      position: absolute;
      top: 50%;
      margin-top: -26px;
      background: {
        image: url('../../assets/icons/arrow.svg');
        repeat: no-repeat;
        position: center center;
        size: 14px 6px;
      }

      @include mobile {
        position: static;
        margin-top: 0;
      }

      &.carousel__button_prev {
        left: 0;

        @include mobile {
          margin-left: 58px;
        }
      }

      &.carousel__button_next {
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

        @include mobile {
          margin-right: 58px;
        }
      }
    }

    @include mobile {
      max-width: 300px;
      display: flex;
      justify-content: space-between;
      margin: 20px auto 0;
    }
  }
}

.pets-card {
  margin: 0 45px;
  padding-bottom: 30px;
  background: $color-light-s;
  text-align: center;
  border-radius: 9px;
  @include transition-all;

  @include tablet {
    width: 270px;
    margin: 0 auto;
  }

  &:hover {
    background: $color-light-xl;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .button {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  h4 {
    margin: 24px 30px 30px;

    @include mobile {
      margin-top: 23px;
    }
  }

  .button {
    margin: {
      left: 30px;
      right: 30px;
    }
  }
}


/*
 * Help section
 */

#help {
  text-align: center;

  @include mobile {
    .inner-wrapper {
      padding: 0;
    }
  }

  .section__content {
    padding-bottom: 46px;

    @include mobile {
      padding-bottom: 10px;
    }

    h3 {
      margin: {
        top: 1px;
        bottom: 59px;
      }

      @include mobile {
        margin-bottom: 41px;
      }
    }

    .help__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include tablet {
        padding: 0 9px;
      }

      @include mobile {
        padding: 0;
        justify-content: flex-start;
      }

      .help__grid-item {
        padding: 0 60px;
        margin-bottom: 55px;

        @include tablet {
          width: 33.3333%;
          min-width: 33.3333%;
          padding: 0;
        }

        @include mobile {
          width: 50%;
          min-width: 50%;
          margin-bottom: 30px;
        }

        .help__grid-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 60px;

          @include mobile {
            height: 50px;

            img {
              height: 50px;
            }

            &.help__grid-img_bowls img {
              height: 47px;
            }

            &.help__grid-img_vitamins img {
              height: 45px;
            }

            &.help__grid-img_collars img {
              height: 44px;
            }
          }
        }

        h4 {
          margin-top: 30px;

          @include mobile {
            font-size: 15px;
            line-height: 110%;
            margin-top: 21px;
          }
        }
      }
    }
  }
}


/*
 * In addition section
 */

#in-addition {
  background: $color-light-l;

  .section__content {
    @include desktop {
      padding-bottom: 75px;
    }

    .in-addition__img {
      text-align: right;

      @include tablet {
        order: 1;
        margin-top: 24px;
        text-align: center;
      }

      @include mobile {
        margin-top: 9px;
      }

      img {
        display: inline-block;
        margin-top: 11px;

        @include mobile {
          width: 260px;
        }
      }
    }

    .in-addition__txt {
      padding-left: 30px;

      @include tablet {
        order: 0;
        padding: 0;
        max-width: 380px;
        margin: 0 auto;
      }

      @include mobile {
        text-align: center;
      }

      h3 {
        margin: {
          bottom: 20px;
        }

        @include mobile {
          margin-bottom: 24px;
        }
      }

      h5 {
        margin-bottom: 19px;

        @include mobile {
          letter-spacing: 0;
          margin-bottom: 23px;
        }
      }

      .credit-card {
        @include transition-all;
        display: inline-block;
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        padding: 5px 15px 10px;
        background: $color-primary;
        border-radius: 9px;
        text-decoration: none;

        @include mobile {
          font-size: 15px;
          line-height: 110%;
          padding: 4px 15px 13px;
        }

        &:hover {
          background: $color-primary-light;
        }

        img {
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 9px;

          @include mobile {
            top: 6px;
          }
        }
      }

      .donation-description {
        font-family: 'Arial Italic';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-m;
        margin-top: 20px;
        width: 70%;

        @include tablet {
          width: 100%;
        }

        @include mobile {
          text-align: justify;
          width: 94%;
          margin: {
            left: auto;
            right: auto;
          }
        }
      }
    }
  }
}


/*
 * Footer
  */

.footer {
  width: 100%;
  min-width: 100%;
  background: {
    image: url('../../assets/images/footer-gradient-background.jpg');
    repeat: no-repeat;
    position: 0 0;
    size: cover;
  }

  .inner-wrapper {
    display: flex;
    flex-wrap: nowrap;

    @include tablet {
      min-width: auto;
      max-width: 1000px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer__section {
      @include border-box;

      @include mobile {
        text-align: center;
      }

      h3 {
        color: $color-light-xl;
        margin-bottom: 44px;
      }

      h4 {
        padding-left: 60px;
        color: $color-primary;
        margin-bottom: 50px;
        position: relative;

        @include mobile {
          margin-bottom: 49px;

          &.footer__email, &.footer__tel {
            margin: {
              left: auto;
              right: auto;
            }
          }

          &.footer__email {
            width: 191px;
          }

          &.footer__tel {
            width: 180px;
          }
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
        }

        &.footer__email img {
          top: -2px;
        }

        &.footer__tel {
          margin-bottom: 0;

          img {
            top: -6px;
          }
        }
      }

      &.footer__section_first {
        width: 35%;
        padding: {
          top: 57px;
          right: 10%;
        }

        @include tablet {
          width: 50%;
          max-width: 354px;
          padding: {
            top: 31px;
            left: 34px;
            right: 10px;
          }
        }

        @include mobile {
          width: 100%;
          max-width: none;
          padding: {
            top: 30px;
            left: 0;
            right: 0;
          }
        }
      }

      &.footer__section_second {
        width: 30%;
        padding: {
          top: 57px;
          left: 20px;
          right: 2%;
        }

        @include tablet {
          width: 50%;
          max-width: 354px;
          padding: {
            top: 31px;
          }
        }

        @include mobile {
          width: 100%;
          max-width: none;
          padding: {
            top: 44px;
            left: 0;
            right: 0;
          }
        }

        h3 {
          margin-bottom: 33px;

          @include mobile {
            width: 90%;
            margin: {
              left: auto;
              right: auto;
              bottom: 39px;
            }
          }
        }

        @include mobile {
          address {
            width: 300px;
            margin: 0 auto;
            padding: 0 2px;
          }
        }

        h4 {
          margin-bottom: 37px;
          padding-left: 40px;

          @include mobile {
            margin-bottom: 44px;
            text-align: left;
          }

          img {
            top: 6px;
            left: -2px;
          }

          &.footer__address-uk {
            margin-bottom: 0;
            padding-left: 40px;

            @include mobile {
              text-align: left;
            }

            img {
              top: -5px;
            }
          }
        }
      }

      &.footer__section_third {
        width: 35%;
        padding-top: 40px;

        @include tablet {
          width: 100%;
          padding-top: 68px;
        }

        @include mobile {
          padding-top: 45px;
        }

        img {
          display: block;
          float: right;

          @include tablet {
            float: none;
            margin: 0 auto;
          }

          @include mobile {
            width: 260px;
          }
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}
